body {
    background: #121212;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    background: #1f1f1f;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.6);
    width: 320px;
}

.display input {
    width: 100%;
    height: 70px;
    border: none;
    border-radius: 12px;
    background: #2b2b2b;
    color: white;
    font-size: 28px;
    padding: 10px;
    text-align: right;
    outline: none;
}

.buttons {
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
}

.btn {
    height: 60px;
    border: none;
    border-radius: 12px;
    font-size: 20px;
    cursor: pointer;
    background: #333;
    color: white;
    transition: 0.2s;
}

.btn:hover {
    background: #444;
}

.operator {
    background: #ff9500;
    color: white;
}

.operator:hover {
    background: #e08900;
}

.equal {
    background: #34c759;
    color: white;
    grid-row: span 2;
    height: 132px;
}

.equal:hover {
    background: #28a745;
}

.zero {
    grid-column: span 2;
}

.clear {
    background: #ff3b30;
}

.clear:hover {
    background: #d93025;
}


.del {
    background: #007aff;
}

.del:hover {
    background: #005ecb;
}
